/* ==========================================================================
   Components
   ========================================================================== */

.main-header {
    margin: 0;

    font-size: 25px;
    line-height: 80px;

    text-align: center;
}

.menu-toggler {
    position: absolute;
    top: 27px;
    left: 20px;

    width: 26px;
    height: 26px;

    text-indent: -1000em;

    border-radius: 50%;
    background: $color_red;
}
.sec--nav {
    display: none;
    overflow-y: auto;

    height: 100vh; // AD: only for newer mobile browsers so use it wisely. Check http://caniuse.com/

    background: rgba(0,0,0,.8); // AD: stick to good formating. Put spaces afer comma and 0 if number is between 0 and 1, eg: (0, 0, 0, 0.8)
    &.opened {
        display: block;
    }
}
.nav {
    &--main {
        position: relative;
        z-index: 2;

        display: block;

        margin: 0;
        padding: 0;
        padding-bottom: 80px;
        &__item {
            position: relative;

            list-style-type: none; // AD: use list-style instead. Also use this option in `ul` not in `li`
            &.active {
                background: $color_grey;

                .nav__item__link {
                    display: block;
                    background-color: grey; // AD: do not use default colors. Use sass variables

                 }
                 .submenu{ // AD: space before `{`
                    display: block;
                 }
            }
        }
    }
    &__item {
        &__link {
            display: block;
            position: relative;

            width: 100%;
            height: 50px;
            padding: 0 20px;

            line-height: 50px;

            text-decoration: none;

            color: $color_white;
            font-weight: 700;
            background-color: $color_red;
        }

    }
}
.submenu {
    display: none;

    margin: 0;
    padding: 0;

    &__item {
        list-style-tnavype: none; // AD: wording mistake
        height:50px; // AD: add space after `:`
        line-height:50px;
        a { // AD: try not to style by tag name. Use classes insted. `.link` in this case should be good
            display:block;
            padding: 0 40px;
            width: 100%;
            height: 100%;
            color: $color_default;
            background-color: $color_grey;

        }
    }
    &.opened {
        display: block;
    }
}
.submenu-point{
    position:relative;
    width:100%;
    height: 100%; // AD: you don't need to put sizes here. It is not necessary. You can leave width for safety, but you can delete height
    &:after{
        display: block;
        content:'';
        clear: both;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 7px;
        height: 7px;
        border-top: 1px solid white;
        border-right: 1px solid white;
        transform: rotate(135deg);
    }

}

