/* ==========================================================================
   Components
   ========================================================================== */

.main-header {
    margin: 0;

    font-size: 25px;
    line-height: 80px;

    text-align: center;

    background-color: #fff; // AD: please use sass variables
}

.menu-toggler {
    position: absolute;
    top: 20px;
    left: 20px;

    width: 36px;
    height: 36px;

    text-indent: -1000em;

    border: 3px solid $color_red;
    border-radius: 50%;
    span { // AD: you shouldn't use styles by tag name even if in this module this `span` will be used only for one task.
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 70%;
        height: 4px;
        margin: auto;

        transition: background-color 0ms 250ms;

        border-radius: 3px;
        background-color: $color_red;
        &:before,
        &:after {
            position: absolute;
            left: 0;

            width: 100%;
            height: 4px;

            content: '';
            transition: top 200ms 250ms, // AD: I would rather prefer indent match to same width. `top` and `transform` should be in same column. This is more readable than existing way
            transform 250ms;

            border-radius: 3px;
            background-color: $color_red;
        }
        &:before {
            top: -6px;
        }
        &:after {
            top: 6px;
        }
    }
}

.sec--nav {
    position: absolute;
    right: 0;
    left: 0;

    display: none;
    &:after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        display: block;

        width: 100%;

        content: '';

        background-color: rgba($color_black, .8);
    }
}
.nav--main,
.submenu {
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav--main {
    z-index: 5;

    padding-bottom: 80px;
    &__item {
        position: relative;

        min-height: 50px;

        line-height: 50px;

        color: $color_white;
        background-color: rgba($color_red, .8);
        transition: 150ms;
        &:before {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;

            width: 90%; // AD: I think better way is to use always same spacing on sides by `left:20px;right:20px`, but this way is good too :)
            height: 1px;
            margin: auto;

            content: '';

            background-color: $color_red;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        &.js-with-submenu .nav__item__link:after {
            position: absolute;
            top: 20px;
            right: 20px;

            width: 5px;
            height: 5px;

            content: '';
            transition: 250ms;
            transform: rotate(45deg);

            border-right: 3px solid $color_white;
            border-bottom: 3px solid $color_white;
        }
        &.active {
            background-color: $color_grey_3;
            .nav__item__link {
                color: $color_grey_2;
                &:after {
                    transform: rotate(-135deg);

                    border-color: $color_grey_2;
                }
            }
            .submenu {
                display: block;
            }
        }
    }
}
.nav__item__link {
    display: block;

    padding: 0 20px;

    font-weight: 600;

    color: $color_white;
    &:hover {
        text-decoration: none;
    }
}

.submenu {
    display: none;

    background-color: $color_grey;
    &__item {
        a {
            display: block;

            padding-left: 40px;

            color: $color_grey_2;
        }
    }
}
